<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/films" access="hasAnyAuthority('ADMIN')"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="select username, password, enabled from user where username = ?"
                authorities-by-username-query="select user.userName, nombre authority from user inner join user_has_rol on (user.userName = user_has_rol.userName) inner join sakila.rol r on (user_has_rol.idROL = r.idROL) where user.userName = ?"/>

        </authentication-provider>
    </authentication-manager>

</bean:beans>